.moderationButtons {
  position: absolute;
  top: 735px;
  left: 5px;
  width: 805px;
  height: 60px;
}
.articleInformation {
  position: absolute;
  top: 20px;
  left: 30px;
  text-transform: capitalize;
  font-weight: 200;
}
.articleViewerModal {
  background-color: #86cd82;
  width: 816px;
  height: 808px;
  overflow: hidden;
  text-align: left;
  font-size: 30px;
  color: #090909;
  font-family: Inter;
}
