.articleName {
  width: 743px;
  height: 64px;
}
.articlePublishDate {
  position: relative;
  top: 0;
  left: 0;
  text-transform: capitalize;
  font-weight: 200;
}
.articleInfoFrame {
  position: relative;
  top: 17px;
  left: 15px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.articleInfo {
  background-color: transparent;
  width: 785px;
  height: 650px;
  overflow: hidden;
  text-align: left;
  font-size: 20px;
  color: #000;
  font-family: Inter;
}
