.articleName {
  position: absolute;
  width: 100%;
  top: 20%;
  left: 0;
  text-transform: capitalize;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewColumnArticlename {
  position: absolute;
  top: 0;
  left: 0;
  width: 395px;
  height: 50px;
}
.author {
  position: absolute;
  width: 100.07%;
  top: 20%;
  left: 0;
  text-transform: capitalize;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewColumnAuthor {
  position: absolute;
  top: 0;
  left: 395px;
  background-color: rgba(44, 155, 128, 0.5);
  width: 268px;
  height: 50px;
}
.publishedDate {
  position: absolute;
  width: 85%;
  top: 20%;
  left: 7.5%;
  text-transform: capitalize;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewColumnPublisheddate {
  position: absolute;
  top: 0;
  left: 663px;
  background-color: transparent;
  width: 280px;
  height: 50px;
}
.viewColumnClaim {
  position: absolute;
  top: 0;
  left: 943px;
  background-color: rgba(44, 155, 128, 0.5);
  width: 350px;
  height: 50px;
}
.viewColumnRating {
  position: absolute;
  height: 100%;
  width: 7.71%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 92.29%;
  background-color: transparent;
}
.searchTableHeader {
  background-color: #86cd82;
  width: 1400px;
  height: 50px;
  text-align: center;
  font-size: 25px;
  color: #000;
  font-family: Inter;
}
