.searchForArticle {
  position: absolute;
  top: 0;
  left: 168px;
  text-transform: capitalize;
  font-weight: 200;
}
.searchHeader {
  position: absolute;
  top: 10px;
  left: 367px;
  width: 665px;
  height: 204px;
  text-align: center;
  font-size: 40px;
  color: #fff;
  font-family: Inter;
}
