.operatingSystemConcepts {
  position: absolute;
  top: 22px;
  left: 14px;
  text-transform: capitalize;
  font-weight: 200;
}
.stateactive {
  margin-top: 5px;
  background-color: #72a276;
  width: 452px;
  height: 75px;
  overflow: hidden;
  text-align: left;
  font-size: 25px;
  color: #000;
  font-family: Inter;
}
